html {
  height: 100%
}

body {
  height: 100%;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  height: 100%;
  overflow: scroll;
}

h1 {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 100;
}

h2 {
  font-size: 2em;
  font-weight: 100;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1, h2, a {
  text-align: center;
  text-decoration: none;
  color: black;
}

h1:hover, h2:hover {
  opacity: 0.6
}

h1:visited, h2:visited {
  color: red;
  }

img {
  height: 100px;
  margin: 2px 5px 2px 5px
}

.icons {
  color: black;
  text-align: center;
}

a:visited {
  color: black;
  font-weight: 100;
}

a:hover {
  opacity: 0.8
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 25px 30px 50px 30px;
}

.intro {
  font-size: 2em;
  font-weight: 800;
}

.familiar > img {
  margin: 10px 50px 10px 50px;
  height: 75px
}

#about > h2 {
  font-weight: bold;
}
